a.sr-star-empty:hover,a.sr-star:hover,a.sr-star-empty:active,a.sr-star:active,a.sr-star-empty:visited,a.sr-star:visited,a.sr-star-empty:focus,a.sr-star:focus {
    text-decoration:none !important;
}
a.sr-star-empty,a.sr-star{
    font-size:1.5rem !important;
    cursor:pointer;
    color: red !important;
    text-decoration:none;
}


.mod_event_rating .sr-star{
    color: #000;
    font-size:1.5rem !important;
}



/** Eventlist **/
.mod_eventlist .layout_upcoming .date:before {
    position:relative;
    top: 8px;
}
.mod_eventlist .layout_upcoming.future-event .date:before{
    content: "\02022";
    color:red;
    font-size:40px;
}
.mod_eventlist .layout_upcoming.event-is-history .date:before{
    content: "\02022";
    color:blue;
    font-size:40px;
}
.mod_eventlist .layout_upcoming.event-has-uploads .date:before{
    content: "\02022";
    color:yellow;
    font-size:40px;
}
.mod_eventlist .layout_upcoming.event-has-ratings .date:before{
    content: "\02022";
    color:green;
    font-size:40px;
}


/** Styling for fineuploader **/
.qq-uploader-selector {
    width: 100%;
    border: 3px dashed #ccc;
}